html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
#container
{
	width: 100%;
	margin: auto;
}
#forget
{
	text-align: center;
	text-decoration: none;
	width: 35%;
	margin-top: 10%;
	margin-left: 35%;
}